<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNurse</servlet-name>
        <servlet-class>action.AddNurse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>action.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignRoom</servlet-name>
        <servlet-class>action.AssignRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NurseLogin</servlet-name>
        <servlet-class>api.NurseLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignWard</servlet-name>
        <servlet-class>action.AssignWard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBedNumbers</servlet-name>
        <servlet-class>api.GetBedNumbers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatientInfo</servlet-name>
        <servlet-class>api.GetPatientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPatientInfo</servlet-name>
        <servlet-class>api.AddPatientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPatientById</servlet-name>
        <servlet-class>api.GetPatientById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdmittedPatientInfo</servlet-name>
        <servlet-class>api.UpdateAdmittedPatientInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNurseProfile</servlet-name>
        <servlet-class>api.UpdateNurseProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientHistory</servlet-name>
        <servlet-class>api.PatientHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSaline</servlet-name>
        <servlet-class>api.UpdateSaline</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNurse</servlet-name>
        <url-pattern>/AddNurse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/AddRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignRoom</servlet-name>
        <url-pattern>/AssignRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NurseLogin</servlet-name>
        <url-pattern>/NurseLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignWard</servlet-name>
        <url-pattern>/AssignWard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBedNumbers</servlet-name>
        <url-pattern>/GetBedNumbers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatientInfo</servlet-name>
        <url-pattern>/GetPatientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPatientInfo</servlet-name>
        <url-pattern>/AddPatientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPatientById</servlet-name>
        <url-pattern>/GetPatientById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdmittedPatientInfo</servlet-name>
        <url-pattern>/UpdateAdmittedPatientInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNurseProfile</servlet-name>
        <url-pattern>/UpdateNurseProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientHistory</servlet-name>
        <url-pattern>/PatientHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSaline</servlet-name>
        <url-pattern>/UpdateSaline</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
